@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(90deg,
                 rgba(87,129,195,1) 0%,
                 rgba(17,158,142,1) 35%,
                 rgba(0,212,255,1) 100%);
    font-family: 'Lato', sans-serif;

}

.oculto {
    display: none;
}

.icon{
    width: 3rem;
    height: 3rem;
}

.pokemon:hover {
    background-blend-mode: luminosity;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgba(201, 31, 1, 0.61) 2px 2px, rgb(201, 31, 1, 0.61) -2px -2px;
    background-color: rgba(73, 65, 64, 0.61);

}

#nav {

    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 300px;


    #infoTextContainer{
    border: solid 3px;
    background: black;
    color: white;
    border-radius: 10px;
    border-color: white;
    padding: 0px 15px;
    font-size: 1.5rem;
    display: grid;
    align-content: center;

    p {
        margin:0;

    }
    }

    #buscarPokemon{
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: center;
        align-items: center;

        button{
            z-index: 2;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: grid;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-color: transparent;
            margin-left: -20px;
            outline: none;

        }
        button:hover {
            background: linear-gradient(90deg,
            rgba(87,129,195,1) 0%,
            rgba(17,158,142,1) 35%,
            rgba(0,212,255,1) 100%);
            border: rgba(17,158,142,1) solid 2px;
            outline: none;
            transform: scale(1.05);
            cursor: pointer;
        }
        button:active{
            outline: none;
            transform: scale(1);
            cursor: pointer;
        }

        input{
            font-size: 1.2em;
            margin-left: 10px;
            border-radius: 5px;
            border: solid 5px white;
            z-index: 0;
        }
    }


}


.pokemon {
    display: grid;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    width: 150px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: end;


    img {
        position: relative;
        grid-column: 1/3;
        grid-row: 1/-1;
        object-fit: contain;
        width: 100%;
        z-index: 3;
        }

    button {
        grid-row: 1/-1;
        grid-column: 1/3;
        border: none;
        background-color: rgba(46, 149, 245, 0);
        font-size: 2rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

    }

    button:hover {

        background: linear-gradient(90deg,
        rgb(67, 99, 151) 0%,
        rgb(13, 129, 116) 35%,
        rgb(0, 166, 199) 100%);
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px;
    }


    .bye{

        justify-self: right;
        align-self: start;
        z-index: 4;

    }
    .rotate{

        justify-self: right;
        z-index: 4;

    }
    .sex{
        justify-self: left;
        align-self: start;
        z-index: 4;

    }
    .color{
        justify-self: left;
        align-self: end;
        z-index: 4;

    }

}

.head {
    display: grid;
    position: relative;
    background-color: #f3725b;
    grid-template-columns: repeat(auto-fill, 1fr);
    border-radius: 10px;
    box-shadow: black 3px 3px;
    border: 2px solid black;
    height: 180px;
    margin: 10px 10px 10px 100px;


    Button{
        position: absolute;
        top: calc(50% - 90px);
        left: -90px;
        width: 180px;

    }
    Button:active {
     transform: scale(0.9);
     box-shadow: rgba(0, 0, 0, 0.493) -3px 2px,  rgba(0, 0, 0, 0.493) 3px -2px ;

    }

}

.accion{
    height: 180px;
    border-radius: 50%;
    background-color: rgba(250, 90, 90, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.accion::before{
    content: "";
    position: absolute;
    //background-color: black;
    top: 0;
    left: 200px;
    width: 100%;
    height: 100%;

}

.accion:hover{
    background: linear-gradient(90deg,
        rgb(67, 99, 151) 0%,
        rgb(13, 129, 116) 35%,
        rgb(0, 166, 199) 100%);
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px;

}

.pokeContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    justify-content: center;
    gap: 0.7em;
    min-height: 140px;
    height: 1fr;
    margin: 10px 10px 10px 60px;
    padding: 8px;
    grid-row: 1/-1;
    overflow: hidden;

    button {
       display : none;
    }



}

.landscapeContainer{
    margin: 10px auto;
    width: 90vw;
    height: 70vh;
    border: solid rgb(0, 0, 0);
    //background-image: url(https://i.redd.it/hicwzlb23pm21.png);
    background-image: url(https://i.pinimg.com/originals/42/4a/d6/424ad6a3cf762c0c909bdd8385c9e5e6.jpg);
    //background-image: url(https://i.imgur.com/Z3ldLGv.jpeg);
    background-position: center;
    background-size: cover;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.473) 5px 5px;


    img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    }

    .pokemon:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .7;
        z-index: -1;
        background-color: rgba(12, 6, 6, 0.479);
        background: url("../images/unnamed.png");
        background-blend-mode: luminosity;
        background-position: center;
        background-size: cover;
        pointer-events: none;
        animation: rotation 0.9s infinite alternate;

      }

    .pokemon{
        width: 150px;
        //el tamano puede ser cambiado entre 130 o 300px de manera optima
    }


}

@keyframes rotation {
    0% {
        transform: rotate(0deg) scale(0.01);
        //transform: scale(2);
    }

    100% {
        transform: rotate(360deg) scale(0.9);

    }

}

.creditos {
    text-align: center;
    font-size: 0.8 rem;
    display: block;
    width: fit-content;
    padding: 8px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 10px;

}
